.circle-icon {
  background: url('imgs/sprite-compl.png') no-repeat -24px -24px;
	width: 16px;
	height: 16px;
}

.exit-icon {
  background: url('imgs/sprite-compl.png') no-repeat -150px -89px;
	width: 20px;
	height: 16px;
}
.find-icon {
  background: url('imgs/sprite-compl.png') no-repeat -82px -22px;
	width: 28px;
	height: 21px;
}
.list-icon {
	background: url('imgs/sprite-compl.png') no-repeat -150px -23px;
	width: 21px;
	height: 19px;
}
.docs-icon {
	background: url('imgs/sprite-compl.png') no-repeat -215px -20px;
	width: 18px;
	height: 25px;
}
.notification-icon {
	background: url('imgs/sprite-compl.png') no-repeat -279px -21px;
	width: 17px;
	height: 25px;
}
.settings-icon {
	background: url('imgs/sprite-compl.png') no-repeat -21px -85px;
	width: 25px;
	height: 25px;
}
.help-icon {
	background: url('imgs/sprite-compl.png') no-repeat -86px -84px;
	width: 20px;
	height: 24px;
}
.checkbox {
	background: url('imgs/sprite-compl.png') no-repeat -21px -277px;
	width: 23px;
	height: 23px;
}
.person-menu {
  background: url('imgs/sprite-compl.png') no-repeat -216px -219px;
  width: 17px;
  height: 11px;
}
